#loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
  background-color: #ffffff;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    animation:fadeinout 2s ease-in-out infinite;
  }
}
img {
  // color: transparent;
  }
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
@keyframes fadeinout{
  0%,100%{
      opacity:0;
  }
  50%{
      opacity:1;
  }
}
.mask{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1044;
  background-color: rgba(1, 16, 49,0.7);
}
.img-holder{
  // @include holder(500, 333);
}


//container


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}
.global-wrapper{
  padding-top: 72px;
  @include mediaMax(1199px){
    padding-top: 64px;
  }
}
//Header block
.global-header{
  background: $color-6;
  box-shadow: 0px 3px 16px rgba(32, 33, 37, 0.06);
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  >.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    @include mediaMax(1199px){
      height: 64px;
      position: relative;
    }
  }
  .logo{
    img{
      @include mediaMax(1199px){
        width: 124px;
      }
    }
  }
  .header-nav-block{
    display: flex;
    align-items: center;
    @include mediaMax(1199px){
      padding-right: 50px;
    }
  }
  .global-nav{
    @include mediaMax(1199px){
      display: none;
    }
  }
}
.nav-for-mobile{
  @include mediaMin(1200px){
    display: none;
  }
}
.login-mask{
  position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* background: black; */
    z-index: 99;
    /* filter: blur(5px); */
    background: rgb(255 253 253 / 56%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    &.show-mask{
      opacity: 1;
      visibility: visible;
    }
}
.login-btn{
  cursor: pointer;
  margin-right: 20px;
  max-width: 82px;
}
.login{
  position: relative;
  &:hover{
    @include mediaMin(1200px){
      .login__dropdown{
        visibility: visible;
        opacity: 1;
        transform: translate3D(-50%, 0, 0);
      }
    }
  }
  &.show-login{
    @include mediaMax(1199px){
      .login__dropdown{
        visibility: visible;
        opacity: 1;
        transform: translate3D(-50%, 0, 0);
      }
    }
  }
}
.login__dropdown{
  padding: 30px 40px;
  box-shadow: 0px 4px 50px rgba(61, 64, 67, 0.1);
  border-radius: 6px;
  background-color: $color-6;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3D(-50%, 10px, 0);
  z-index: 1030;
  transition: all .2s ease-in-out;
  transform-origin: top center;
  visibility: hidden;
  opacity: 0;
  width: 450px;
  @include mediaMax(1199px){
    position: fixed;
    top: 0;
    padding: 20px 20px;
    max-width: 320px;

  }
  .login__link{
    &:first-child{
      padding-bottom: 20px;
      border-bottom: 1px solid #C4C4C4;
      margin-bottom: 25px;
    }
    >a{
      display: flex;
      align-items: center;
      img{
        margin-right: 25px;
        @include mediaMax(1199px){
          margin-right: 10px;
        }
      }
      .login__item{
        span{
          @include fs(20);
          font-weight: 600;
          display: block;
          margin-bottom: 0;
          @include mediaMax(1199px){
            @include fs(16);
          }
        }
        p{
          @include fs(18);
          font-weight: 300;
          margin-bottom: 0;
          margin-top: 0;
          opacity: 0.9;
          @include mediaMax(1199px){
            @include fs(14);
          }
        }
      }
    }
  }
}
.header-nav-block{
  .login{
    @include mediaMax(1199px){
      display: none;
    }
  }
}
.global-nav{
  @include mediaMax(1199px){
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 999;
    top: 63px;
    background-color: $color-6;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out 0s;
    padding: 30px 20px 30px 20px;
    &.show{
      box-shadow: 0px 3px 16px rgb(32 33 37 / 6%);
      transform: translateY(0);
    }
  }
  ul{
    margin: 0;
    display: flex;
    @include mediaMax(1199px){
      display: block;
    }
    li{
      list-style-type: none;
      margin-right: 18px;
      a,span{
        @include fs(18);
        display: inline-block;
        padding: 10px 10px;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}

//mobile nav
#menuToggle{
  display: none;
}
@include mediaMax(1199px){
  #menuToggle {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #292923;
    border: 0;
    box-shadow: none;
    transition: .25s ease-in-out;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
    #menuToggle {
      display: inline-block;
      margin-left: 15px;
  }
  #menuToggle, #menuToggle:after, #menuToggle:before {
      background-color: #292923;
  }
  #menuToggle.opened {
    transform: rotate(-45deg);
  }
  #menuToggle:after, #menuToggle:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #292923;
    left: 0;
    transition: .25s ease-in-out;
  }
  #menuToggle:before {
    top: -6px;
  }
  #menuToggle:after {
    top: 6px;
  }
  #menuToggle.opened:after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0px;
  }
  #menuToggle.opened:before {
    opacity: 0;
  }
}

.spotlight{
  padding-top: 120px;
  padding-bottom: 120px;
  @include mediaMax(991px){
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.spotlight__content{
  text-align: center;
  padding: 0 0 60px;
  @include mediaMax(991px){
    padding: 0 0 40px;
  }
  p{
    max-width: 740px;
    margin: 0 auto;
    font-weight: 300;
  }
}
.mt-1{
  margin-top: 60px;
  @include mediaMax(991px){
    margin-top: 40px;
  }
}
.block-header{
  margin-bottom: 60px;
  @include mediaMax(991px){
    margin-bottom: 40px;
  }
  p{
    max-width: 740px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 1.6;
  }
}
.why-cspay{
  // padding-top: 90px;
  // padding-bottom: 90px;
}
.py-type1{
  padding-top: 90px;
  padding-bottom: 90px;
  @include mediaMax(991px){
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.visually-hide{
  opacity: 0;
}
.accordion-item-wrap{
  margin-bottom: 60px;
}
.spotlight__image{
  max-width: 736px;
  margin: 0 auto;
}
.accordion__item{
  display: flex;
  padding-bottom: 60px;
  .accordion__image{
    flex-basis: 30%;
    transition: all 0.3s linear 0s;
  }
  .accordion__content{
    flex-basis: 70%;
    padding-left: 40px;
    transition: opacity 0.5s linear 0s;
  }
  .accordion__header{
    cursor: pointer;
    padding: 0 30px 0 0;
    // background: url(../images/down-arrow.svg) no-repeat right center;
  }
  .accordion__hidden{
    display: none;
    ul{
      margin: 0;
      li{
        list-style-type: none;
        font-weight: 600;
      }
    }
  }
  
}
.open{
  .accordion__image{
    flex-basis: 50%;
  }
  .accordion__content{
    flex-basis: 50%;
  }
}

@keyframes y{
  0%{transform:translateX(-100%)}
  to
  {transform:translateX(0)}
}
.progress{
  position: relative;
  height: 3px;
  background-color: #35BEC1;
  overflow: hidden;
  transition: background-color 0.3s linear 0s;
  >span{
    animation-name: none;
    transform: translateX(-100%);
    transition: transform .15s cubic-bezier(0,0,.16,.96);
    background-color: #35BEC1;
    height: 3px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    
    animation-duration: 7000ms;
  }
}
.start-timer{
  .progress{
    background-color: #98d3d4;
    >span{
      animation-name: y;
      animation-play-state: running;
      animation-timing-function: linear;
    }
  }
}

.why-cspay__item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: center;
  @include mediaMax(991px){
    margin-bottom: 40px;
  }
  @include mediaMax(767px){
    flex-direction: column-reverse;

  }
  &:nth-child(even){
    @include mediaMin(768px){
      flex-direction: row-reverse;
    }
  }
  .why-cspay__desc{
    flex: 0 0 auto;
    width: 48%;
    @include mediaMax(767px){
      width: 100%;
    }
    p{

    }
    ul{
      margin: 0;
      list-style-type: none;
      li{
        padding: 0 0 0 30px;
        // background: url(../images/tick-mark.svg) no-repeat left 4px;
        font-weight: 300;
        @include fs(20);
        line-height: 1.4;
        color: $color-9;
        margin-bottom: 15px;
      }
    }
  }
  .why-cspay__image{
    flex: 0 0 auto;
    width: 48%;
    box-shadow: 0px 4px 50px #E8EBF3;
    border-radius: 10px;
    @include mediaMax(767px){
      width: 100%;
      margin-bottom: 40px;
    }
    img{
      width: 100%;
    }
  }
}

//Benefits block
.benefits__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.benefits__item{
  border: 1px solid #DBDCE0;
  box-shadow: 10px 10px #f5f5f5;
  flex: 0 0 auto;
  width: 48.5%;
  margin-bottom: 30px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  @include mediaMax(767px){
    width: 100%;
  }
  &:hover{
    transform: translateY(-5px);
    box-shadow: 12px 12px #f5f5f5;
  }
}
.benefits__desc{
  padding: 40px 30px 30px 30px ;
  p{
    opacity: 0.9;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.benefits__image{
  border-bottom: 1px solid #DBDCE0;
}

//Pricing block
.pricing{
  border-top: 1px solid #C4C4C4;
  padding-top: 90px;
  padding-bottom: 60px;
  @include mediaMax(991px){
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.pricing__details{
  display: flex;
  justify-content: space-between;
  @include mediaMax(767px){
    flex-direction: column;
  }
}
.pricing__item{
  flex: 0 0 auto;
  width: 31.54%;
  @include mediaMax(767px){
    width: 100%;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.pricing__rebate{
  text-align: center;
  background-color: $color-4;
  border-radius: 16px;
  padding: 40px 26px;
  @include mediaMax(1199px){
    padding: 30px 12px;
  }
  @include mediaMax(767px){
    padding: 27px 12px;
  }
  
}
.pricing__variation{
  font-weight: 600;
  color: $color-6;
  @include fs(53);
  line-height: 1;
  display: block;
  @include mediaMax(1199px){
    @include fs(36);
  }
  @include mediaMax(767px){
    @include fs(28);
  }
}
.pricing__label{
  color: $color-6;
  display: block;
  @include mediaMax(1199px){
    @include fs(16);
  }
}
.pricing__desc{
  padding-top: 60px;
  ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    list-style-type: none;
    @include mediaMax(767px){
      flex-direction: column;
    }
    li{
      flex: 0 0 auto;
      width: 46%;
      margin-bottom: 30px;
      padding: 0 0 0 60px;
      min-height: 50px;
      display: flex;
      align-items: center;
      // background: url(../images/disc-icon.svg) no-repeat left top;
      @include mediaMax(767px){
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}

//Book now banner
.banner{
  background-color: $color-1;
}
.banner__wrap{
  padding: 80px 0 65px;
  display: flex;
  justify-content: space-between;
  @include mediaMax(767px){
    flex-direction: column;
    padding: 50px 0;
    text-align: center;
  }
}
.banner__desc{
  max-width: 70%;
  @include mediaMax(767px){
    max-width: none;
    margin-bottom: 25px;
  }
  >span{
    font-weight: 600;
    @include fs(53);
    display: block;
    line-height: 1.2;
    color: #F1F2F4;
    margin-bottom: 7px;
    @include mediaMax(767px){
      @include fs(28);
    }
  }
  >p{
    @include fs(26);
    color: #C7CCD1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    @include mediaMax(767px){
      @include fs(16);
    }
  }
}

.global-footer{
  background-color: $color-6;
  .copyright{
    height: 92px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    @include mediaMax(767px){
      height: 64px;
    }
    span{
      display: block;
      width: 100%;
      @include fs(16);
      color: rgba(61, 64, 67, 0.9);
      @include mediaMax(767px){
        @include fs(14);
      }
    }
  }
}