/**
 * common colors
 */
$color-1: #3D4043;
$color-2: #000000;
$color-3: #202125;
$color-4: #3265CB;
$color-5: #05406B;
$color-6: #FFFFFF;
$color-7: #EFF3FB;
$color-8: #505356;
$color-9: #4F5255;

$all_colors: zip(
    1 2 3 4 5 6 7 8 9,
    $color-1 $color-2 $color-3 $color-4 $color-5 $color-6 $color-7 $color-8  $color-9
);

/**
 * notification colors
 */
$successColor: #1BB934;
$errorColor: #ED1C24;
$infoColor: #7F8FA4;


/* slick */
$slickArrowSize: 50;
$slickArrowSizeMin: 50;

/* boxshadow */
$shadow-1: 0px 0px 10px 5px rgba(112,112,112,0.28);